.idea/
.idea/modules.xml
.idea/modrev-python.iml
.idea/workspace.xml
.idea/.gitignore
.idea/misc.xml
.idea/inspectionProfiles
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
hello.lp
examples/
.ipynb_checkpoints/
build/
dist/
pymodrev.egg-info
